<div class="card">
	<div class="card-header">
		Please enter your new password.
	</div>

	<div class="card-body">
		<form [formGroup]="resForm" (ngSubmit)="onSubmit()">

			<div class="form-group">
                <label>Password</label>
                   <div class="inputWithIcon inputIconBg">
	                     <input type="password" class="form-control form-control-sm" name="pass" placeholder="Password" [formControl]="passwordControl">
	                     <i class="fa fa-lock fa-lg fa-fw" aria-hidden="true"></i>
	                     <span *ngIf="passwordControl.hasError('required') && passwordControl.dirty"class = "text-danger">password required!!</span>
	                     <span *ngIf="passwordControl.hasError('minlength') && passwordControl.dirty"class = "text-danger">password must be atleast 6 characters long</span>
	                </div>
            </div>

            <div class="form-group">
                <label>Confirm password</label>
                   <div class="inputWithIcon inputIconBg">
                     <input type="password" class="form-control form-control-sm" name="cpass" placeholder="Re-Enter password" [formControl]="confirmpasswordControl">
                     <i class="fa fa-lock fa-lg fa-fw" aria-hidden="true"></i>
                     <span *ngIf="confirmpasswordControl.hasError('required') && confirmpasswordControl.dirty"class = "text-danger">password required!!</span>
                     <span *ngIf="confirmpasswordControl.valid && confirmpasswordControl.value != passwordControl.value" class = "text-danger">Password Doesn't match</span>
                  </div>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary" [disabled]="!resForm.valid" name="submit" value="Reset Password" >
            </div>



		</form>
	</div>

</div>

