
<div class="card-group"  *ngIf="router.url === '/'">
	<div class="card">
	  <div class="card-header">
	    Features
	  </div>
	  <ul class="list-group list-group-flush">
	    <li class="list-group-item">Cras justo odio</li>
	    <li class="list-group-item">Dapibus ac facilisis in</li>
	    <li class="list-group-item">Vestibulum at eros</li>
	  </ul>
	</div>
	<div class="card">
	  <div class="card-header">
	    Calculator
	  </div>
	  <ul class="list-group list-group-flush">
	    <li class="list-group-item">EMI Calculator</li>
	    <li class="list-group-item">Eligibility Calculator</li>
	  </ul>
	</div>
	<div class="card">
	  <div class="card-header">
	    Documents
	  </div>
	  <ul class="list-group list-group-flush">
	    <li class="list-group-item">Cras justo odio</li>
	    <li class="list-group-item">Dapibus ac facilisis in</li>
	    <li class="list-group-item">Vestibulum at eros</li>
	  </ul>
	</div>
</div>

