
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="title">
<p >FAQ</p>
</div>

<table>
    <tr>
        <th><p class="blank">------</p></th>
      <th><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
              <h2>How long does process take</h2>
            <img src="../../assets/images/time.jpg" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
              
            <h1>Duration</h1> 
            <p>The actual length of time varies by homeowner. When you apply for a loan with Discover, we'll make sure that you're updated on your progress and closing date along the way. Generally speaking, the faster you can provide information we request to confirm your eligibility, the quicker we can move your loan file through the process.</p> 
            
          </div>
        </div>
      </div></th>
      <th><p class="blank">------------------------------------------------------------</p></th>
      <th> </th>
      <th><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
              <h2>Why is my credit score important</h2>
            <img src="../../assets/images/coins.jpg" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
              
            <h1>Credit Score</h1> 
            <p>Your credit score is a way of measuring how likely you are to pay (or not pay) your bills. It's just one of the key factors that the lender looks at when deciding if they will approve your loan application and for what amount and at what interest rate.</p>
            
          </div>
        </div>
    
      </div></th>

      <th><p class="blank">------------------------------------------------------------</p></th>

      <th> </th>
      <th><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
              <h2>What does EMI mean</h2>
            <img src="../../assets/images/emi.jpg" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
              
            <h1>EMI</h1> 
            <p>EMI refers to the ‘Equated Monthly Installment’ which is the amount you will pay to us on a specific date each month till the loan is repaid in full. </p>
            
          </div>
        </div>
    
      </div></th>
    </tr>
      <tr>
          <td><p class="blank">----------</p></td>
          <td><p class="blank">----------</p></td>
      </tr>
      <tr>
        <td><p class="blank">----------</p></td>
        <td><p class="blank">----------</p></td>
    </tr>
    <tr>
        <td><p class="blank">----------</p></td>
        <td><p class="blank">----------</p></td>
    </tr>
   
    


    

    <tr>
        <th><p class="blank">------</p></th>
      <th><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
              <h2>What does Encumbrance refer to</h2>
            <img src="../../assets/images/houseOne.jpg" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
              
            <h1>Encumbrance</h1> 
            <p> Encumbrance on a property refers to claims or charges on the property due to liabilities such as unpaid loans and bills. </p> 
            
          </div>
        </div>
      </div></th>
      <th><p class="blank">------------------------------------------------------------</p></th>
      <th> </th>
      <th><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
              <h2>What is a Home Improvement Loan</h2>
            <img src="../../assets/images/repair.jpg" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
              
            <h1>Home Improvement Loan</h1> 
            <p>It is a loan for renovating(without altering the structure/carpet area) your home in ways like tiling ,flooring, internal / external plaster and painting etc.</p>
            
          </div>
        </div>
    
      </div></th>

      <th><p class="blank">------------------------------------------------------------</p></th>

      <th> </th>
      <th><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
              <h2>What is a Commercial Property Loan</h2>
            <img src="../../assets/images/office.jpg" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
              
            <h1>Commercial Property Loan</h1> 
            <p>This is a loan for purchase of a new or existing office or clinic as well as for extension, improvement or construction of an office or clinic. </p>
            
          </div>
        </div>
    
      </div></th>

      

    </tr>
    
    
  </table>





</body>
</html>