<div class="jumbotron container">
    <h1>Loan Tracker</h1>      
    <p>Track the status of your loan at one click.</p>
</div>
<div class="container">
    
        
    <div class="row">
        <form class="form-horizontal" [formGroup]="regForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label class="control-label col-sm-2">Email</label>
                <div class="inputWithIcon inputIconBg">
                    <input type="text" class="form-control form-control-sm" name="email" placeholder="abc@company.com"
                        [formControl]="emailControl">

                    <span *ngIf="emailControl.hasError('required') && emailControl.dirty" class="text-danger">Email
                        required!!</span>
                    <span *ngIf="emailControl.hasError('pattern') && emailControl.dirty" class="text-danger">Enter valid
                        Email</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Application ID</label>
                <div class="inputWithIcon inputIconBg">
                    <input type="text" class="form-control form-control-sm" name="applicationid" placeholder="Enter application ID" [formControl]="applicationControl">

                    <span *ngIf="applicationControl.hasError('required') && applicationControl.dirty" class="text-danger">Application ID required</span>
                    <span *ngIf="(applicationControl.hasError('minlength') || applicationControl.hasError('maxlength')) && applicationControl.dirty" class="text-danger">Enter valid Application ID</span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary"  name="submit" value="Submit">
            </div>
            
        </form>
    </div>

    <div *ngIf="statusAppears">
  <div class="card" style="width:40rem;">
   <table class="table table-bordered"> 
    <tbody>
      <tr>
        <td width="43%"><b>Status</b></td>
        <td>{{status}}</td>
      </tr>
      <tr *ngIf="balanceAppears">
        <td><b>Account number</b></td>
        <td>{{accountNumber}}</td>
      </tr>
      <tr *ngIf="balanceAppears">
        <td><b>Balance</b></td>
        <td>{{balance}}</td>
      </tr>
      <tr *ngIf="balanceAppears">
        <td><b>EMI</b></td>
        <td>{{emi}}
        </td>
      </tr>
      <tr>
    </tbody>
  </table>
   </div>
</div>

</div>


