    <div class="jumbotron container">
    <h1>Loan Tracker</h1>      
    <p>Track the status of your loan at one click.</p>
</div>
<div class="container">
    
        
    <div class="row">
        <form class="form-horizontal" [formGroup]="regForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label class="control-label col-sm-2">Email</label>
                <div class="inputWithIcon inputIconBg">
                    <input type="text" class="form-control form-control-sm" name="email" placeholder="abc@company.com"
                        [formControl]="emailControl">

                    <span *ngIf="emailControl.hasError('required') && emailControl.dirty" class="text-danger">Email
                        required!!</span>
                    <span *ngIf="emailControl.hasError('pattern') && emailControl.dirty" class="text-danger">Enter valid
                        Email</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Application ID</label>
                <div class="inputWithIcon inputIconBg">
                    <input type="text" class="form-control form-control-sm" name="applicationid" placeholder="Enter application ID"
                        [formControl]="applicationControl">

                    <span *ngIf="applicationControl.hasError('required') && applicationControl.dirty" class="text-danger">Application ID required
                        required!!</span>
                    <span *ngIf="(applicationControl.hasError('minLength') || applicationControl.hasError('maxLength')) && emailControl.dirty" class="text-danger">Enter valid Application ID</span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary"  name="submit" value="Submit">
            </div>
            
        </form>
    </div>
</div>


<div *ngIf="!processing">
    <mat-vertical-stepper linear  [selectedIndex]="currentStep">
        <mat-step label="Sent ">Sent for verification</mat-step>
        <mat-step label="Verified ">Verified and sent for final approval</mat-step>
        <mat-step label="Approved/rejected">Approved/rejected</mat-step>
        
    </mat-vertical-stepper>
</div>