<div>
    <div class="card" style="width:40rem;">
        <div class="card-header">
            Please enter OTP recieved in your mail.
        </div>
    <form [formGroup]="otpForm" (ngSubmit)="sendOtp()">
        <div class="form-group">
                <label class="btn btn-default">Enter OTP:</label>
                <input type="text"class="form-control" [formControl]="otpControl"/>
        </div>
         <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Enter"/>
        </div>
    </form>
    </div>
</div>
