
<div class="module lr">
  <h5>l</h5>
  <p>About Us</p>
</div>

<div class="jumbotron myclass">
  <h1>SBI</h1>
  <img src="../../assets/images/word.PNG">
  <br/>
  <br/>
 
  <div class="list">
  XYZ Home Loans is the largest Mortgage Lender in India, which has helped over 30 lakh families to achieve the dream of owning a home.
  <br/><br/><br/>

  <h3>Our Values</h3>

  <ul class="fa-ul">
    <li><i class="fa-li fa fa-check-square"></i>Trust</li><br/>
    <li><i class="fa-li fa fa-check-square"></i>Transparency</li><br/>
    <li><i class="fa-li fa fa-check-square"></i>Integrity</li><br/>
    <li><i class="fa-li fa fa-check-square"></i>Excellence</li><br/>
  </ul>



<h3>Value to Customers</h3>
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-check-square"></i>Wide Product Range</li><br/>
    <li><i class="fa-li fa fa-check-square"></i>Interest Calculation on Daily Reducing Balance</li><br/>
    <li><i class="fa-li fa fa-check-square"></i>Overdraft Facility available</li><br/>
    <li><i class="fa-li fa fa-check-square"></i>Low Interest Rates</li><br/>
    <li><i class="fa-li fa fa-check-square"></i>Low Processing Fees</li><br/>
    <li><i class="fa-li fa fa-check-square"></i>No Hidden Costs</li><br/>
    <li><i class="fa-li fa fa-check-square"></i>No Pre-payment penalty</li><br/>
  </ul>
</div>
</div>

<div>
  <img src="../../assets/images/features.PNG" style="width:100%">

</div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>jane@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team3.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>jane@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team3.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>