<div class="module lr">
  <h5>l</h5>
  <p>About Us</p>
</div>

<div class="jumbotron myclass">
  <br/>
  <h1>LTI HomeLoans</h1>
  <br/>
  <br/>
 
  <div class="list">
  LTI HomeLoans is the largest Mortgage Lender in India, which has helped over 30 lakh families to achieve the dream of owning a home.
  <br/><br/><br/>

  <h3>Our Values</h3>

  <ul class="fa-ul">
    <li><i class="fa-li fa fa-check-square"></i>Trust</li><br/>
    <li><i class="fa-li fa fa-check-square"></i>Transparency</li><br/>
    <li><i class="fa-li fa fa-check-square"></i>Integrity</li><br/>
    <li><i class="fa-li fa fa-check-square"></i>Excellence</li><br/>
  </ul>



<h3>Value to Customers</h3>
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-check-square"></i>Wide Product Range</li><br/>
    <li><i class="fa-li fa fa-check-square"></i>Interest Calculation on Daily Reducing Balance</li><br/>
    <li><i class="fa-li fa fa-check-square"></i>Overdraft Facility available</li><br/>
    <li><i class="fa-li fa fa-check-square"></i>Low Interest Rates</li><br/>
    <li><i class="fa-li fa fa-check-square"></i>Low Processing Fees</li><br/>
    <li><i class="fa-li fa fa-check-square"></i>No Hidden Costs</li><br/>
    <li><i class="fa-li fa fa-check-square"></i>No Pre-payment penalty</li><br/>
  </ul>
</div>
</div>

<div>
  <img src="../../assets/images/features.PNG" style="width:100%">
</div>