input[type="text"]
[type="password"] {
  width: 100%;
  
}
form {
  display: inline-block;
  width:90%;
}
input[type="text"]:focus {
    border-color: #4B0082;
    box-shadow: 0 0 0px 0#4B0082;
  }

  input[type="password"]:focus {
    border-color:#4B0082;
    box-shadow: 0 0 0px 0 #4B0082;
  }
  
  .inputWithIcon input[type="text"] {
    padding-left: 40px;
  }

  .inputWithIcon input[type="password"] {
    padding-left: 40px;
  }
  
  .inputWithIcon {
    position: relative;
  }
  
  .inputWithIcon i {
    position: absolute;
    left: 0;
    top: 0px;
    padding: 8px 8px;
    color: #aaa;
    transition: 0.3s;
  }
  
  .inputWithIcon input[type="text"]:focus + i {
    color: #4B0082;
  }

  .inputWithIcon input[type="password"]:focus + i {
    color:#4B0082;
  }
  
  .inputWithIcon.inputIconBg i {
    background-color: #aaa;
    color: #fff;
    padding: 7px 4px;
    border-radius: 4px 0 0 4px;
  }
  
  .inputWithIcon.inputIconBg input[type="text"]:focus + i {
    color: #fff;
    background-color:#4B0082;
    
  }

  .inputWithIcon.inputIconBg input[type="password"]:focus + i {
    color: #fff;
    background-color:#4B0082;
  }

  