<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav ml-auto">

    <li class="nav-item menu-item">
      <a class="nav-link active" href="#">Home</a>
    </li>

    <li class="nav-item menu-item">
      <a class="nav-link" href="/aboutus">About</a>
    </li>

    <li class="nav-item menu-item">
      <a class="nav-link" href="/calculator">Calculator</a>
    </li>

      <li class="nav-item menu-item">
      <div ngbDropdown *ngIf="!loginService.isUserLoggedIn()">
        <a class="nav-link active" id="dropdownBasic1" ngbDropdownToggle>Login</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a ngbDropdownItem href="/login">Customer</a>
          <a ngbDropdownItem href="/adminlogin">Admin</a>
        </div>
      </div>

      <a style="cursor: pointer;" *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a>
      
      </li>

      <li class="nav-item menu-item">
      <a class="nav-link" href="/faq">FAQ</a>    	
    </li>

  </ul>
</nav>
