
   
    <div class="container">
        <div class="row">
         <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
             <div class="form-group">

                 <div class="form-group">
                 <label>Email</label>
                 <div class="inputWithIcon inputIconBg">
                 <input type="text" class="form-control form-control-sm" name="email" placeholder="abc@company.com" [formControl]="email1Control">
                 <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
                 <span *ngIf="email1Control.hasError('required') && email1Control.dirty"class = "text-danger">Email required!!</span>
                </div>
                </div>
                 <div class="form-group">
                 <label>Password</label>
                 <div class="inputWithIcon inputIconBg">
                 <input type="password" class="form-control form-control-sm" name="pass" placeholder="Password" [formControl]="password1Control">
                 <i class="fa fa-lock fa-lg fa-fw" aria-hidden="true"></i>
                 <span *ngIf="password1Control.hasError('required') && password1Control.dirty"class = "text-danger">password required!!</span>
                </div>

                </div>
                 
                 <div class="form-group">
                    <input type="submit" class="btn btn-primary" name="submit" value="Login" >
                    <button class="btn btn-primary button forgot-btn" (click)="forgot()">Forgot Password</button>                    
                 </div>
                </div>
         </form> 
         </div>  

                    <div class="alert" *ngIf="isLoginRight==0">
                            Incorrect Login Credentials!   
                    </div>

     </div>   






