form {
  display: inline-block;
  width:90%;
  margin:auto;
}



input[type="text"]:focus {
  border-color:#00A093;
  box-shadow: 0 0 0px 0 #00A093;
}

input[type="password"]:focus {
  border-color: #00A093;
  box-shadow: 0 0 0px 0 #00A093;
}

.inputWithIcon input[type="text"] {
  padding-left: 40px;
}

.inputWithIcon input[type="password"] {
  padding-left: 40px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 0px;
  padding: 8px 8px;
  color: #aaa;
  transition: 0.3s;
}

.inputWithIcon input[type="text"]:focus + i {
  color: #00A093;
}

.inputWithIcon input[type="password"]:focus + i {
  color:#00A093;
}

.inputWithIcon.inputIconBg i {
  background-color:  rgb(141, 139, 139);;
  color: #fff;
  padding: 8.5px 0px;
  border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg input[type="text"]:focus + i {
  color: #fff;
  background-color:#00A093;
  

}

.inputWithIcon.inputIconBg input[type="password"]:focus + i {
  color: #fff;
  background-color:#00A093;
}

.alert{

  color : red;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #E6F4F1;
}


  .forgot-btn{
    float: right;
  }
