<div class="container"> 
  <p class="title">Loan Eligibility Calculator</p>
  
  <input type="text" placeholder="Monthly Income" [(ngModel)]="monthlyincome" class="form-control" (blur)="rupdate()"
   style="widows: 50px;float:left;">
  
  <input type = "button" class="btn btn-primary" value = "Calculate"> 
  
  <div class="jusify-center" >
      <br>
      <h4 style="color: #383475; font-weight: bold;">
        Available Loan Amount
      </h4>
      <span class="result">
       
   Rs {{test}} 
  
      </span>
    </div>
</div>


