<app-menu-component></app-menu-component>

<app-image-component ></app-image-component>
<app-feat-calc-doc-component ></app-feat-calc-doc-component>
<!--  <app-upload-files></app-upload-files>
 --><!-- <app-stepper-component></app-stepper-component>
 -->
 <!--  <app-forgot-password-component></app-forgot-password-component>         
 -->
<!--  <app-show-file></app-show-file> -->
<app-home-details></app-home-details>
<!--<app-feat-calc-doc-component ></app-feat-calc-doc-component> -->
<!-- <app-stepper-component></app-stepper-component> -->

<!-- <app-loan-tracker></app-loan-tracker> -->
<!-- <app-personal-details></app-personal-details> -->

<!-- <app-user-dashboard></app-user-dashboard> -->


<!-- <app-user-app-status></app-user-app-status> -->
<router-outlet></router-outlet>

<app-footer></app-footer>


<!-- <app-footer></app-footer> -->



