
<div class="card">
	<div class="card-header">
		Please enter your registered email ID to get the reset password link via email.
	</div>

	<div class="card-body">
		<form [formGroup]="forForm" (ngSubmit)="onSubmit()">

			<div class="form-group">

				<label for="exampleInputEmail1">Email address</label>
				<input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" [formControl]="emailControl">
				</div>
				<div>
				<span *ngIf="emailControl.hasError('pattern') && emailControl.dirty"class = "text-danger">Enter valid Email</span>

				<span *ngIf="alert==1" class="text-success">Link has been sent to your email</span>

				<span *ngIf="alert==2" class="text-danger">Email is not registered</span>

				</div>

				<input type="submit" class="btn btn-primary" value="Submit">
		</form>
	</div>

</div>

